---
import MOne from "../images/menu-1.jpg";
import MTwo from "../images/menu-2.jpg";
import MThree from "../images/menu-3.jpg";
import MFour from "../images/menu-4.jpg";
import MFive from "../images/menu-5.jpg";
import MSix from "../images/menu-6.jpg";
import MSeven from "../images/menu-7.jpg";
---
<main class="bg-gray-900">
<section class="space-y-2 lg:  max-w-2xl mx-auto">
<img src={MOne.src} alt="Imagen de portada">
<img src={MTwo.src} alt="Parte 1 del menú, incluye bebidas frías, bebidas calientes y smoothies">
<img src={MThree.src} alt="Parte 2 del menú, incluye jugos y sándwich">
<img src={MFour.src} alt="Parte 3 del menú, incluye bowls">
<img src={MFive.src} alt="Parte 4 del menú, incluye ensaladas">
<img src={MSix.src} alt="Parte 5 del menú, incluye panqués, productos, snaks y galletas">
<img src={MSeven.src} alt="Parte 6 del menú, incluye paquetes y desayunos">
</section>
</main>

